body {
	display: table;
    width: auto;
	height: auto;
	background: url(../img/aboutus.jpg) no-repeat;
	font-family: "Lato" ;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
p img{
	height: 70px;
}

a {
    color: #0B0080;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-decoration: none
}

a:hover,
a:focus {
    text-decoration: none;
    color: #8181F7;
}


#top {
	margin: 40px;
	margin-bottom: 200px;
	text-align: center;
}
	
table {
	background-color:#FFF;
	opacity: 0.8;
	text-align: justify;
	padding: 0px 50px 0px 50px;
}

table td {
	width:40%;
	padding: 0px 20px 20px 20px;
}







