body {
	display: table;
    width: auto;
	height: auto;
	background: url(../img/aboutus.jpg) no-repeat;
	font-family: "PT Sans" ;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
p img{
	height: 70px;
}

a {
    color: #0B0080;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-decoration: none
}

a:hover,
a:focus {
    text-decoration: none;
    color: #8181F7;
}


#top {
	margin: 40px;
	margin-bottom: 200px;
	text-align: center;
}
	
#container {
	margin-left: 90px;
	margin-right: 90px;
	width: auto;
	height: 450px;
	background-color: #fff;
	opacity: 0.7;
}

#Vana {
	font-size: 1.00em;
	vertical-align: middle;
	width: 40%;
	position: relative;
	float: right;
	text-align: justify;
	margin: 0px 20px 10px 20px;
	opacity: 1;
	
} 

#Nana {
	font-size: 1em;
	margin-left:100px;
	vertical-align: middle;
	width: 40%;
	position: relative;
	float: left;
	text-align: justify;
	
}






