body {
    width: 100%;
    height: 100%;
    font-family: "PT Sans";
    color: #000;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	font-size: 90%;
	background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1 {font-size: 150px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
	margin-left: %;
    padding: 7px 16px;
    border: 2px solid #000;
    border-radius: 35px;
    font-size: 40px;
    color: #000;
    background: #FFF;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #000;
    background: #FFF;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	
	background-color:#FF0000;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:25px;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.myButton:active {
	position:relative;
	top:1px;
}


p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #0B0080;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #A9BCF5;
}

.light {
    font-weight: 400;
}
@media(min-width:767px) {
#logotop {
vertical-align: top;
background-color: #fff;
width: auto;
height: 70px;
text-align: center;
padding-top: 10px;
text-align: center;
}

.intro .intro-body {
    display: table;
    width: 100%;
    height: 700px;
    padding: 10px 0;
    text-align: center;
    color: #000;
    background: url(../img/BLOCKONE.jpg) no-repeat bottom center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -webkit-background-filter: alpha(opacity=40);
	-moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	
  
    vertical-align: middle;
}



.intro .intro-body .intro-text {
    display: inline-block;
	font-size: 22px;
	background-color: #fff;
	height: 110px;
	width: 500px;
	padding-top: 21px;
}

.row {
margin-top: 200px;
margin-right: -15px;
margin-left: -15px;
}


    .intro {
        height: 100%;
        padding: 0;
    }

.block-2 {
	display: table;
    width: 100%;
	height: 700px;
    text-align: center;
	color: #000;
    background:  <!--url(../img/BLOCKTWO.jpg) no-repeat bottom center scroll;--> ;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.block-2 .container {
	display: inline-block;
	display: table-cell;
    vertical-align: middle;
}

.block-2 .container .row .description {
	display: inline-block;
	background: #FFF;
	font-size: 22px;
	width: 450px;
}

.block-3 {
    width: 100%;
	height: 700px;
    padding: 50px 0;
	background-color: #fff;
    text-align: center;
	margin-bottom: 20px;
}



.down {
	margin-bottom: 20px;
}

.block-4 {
	background: #fff;
	height: 700px;
	margin-top: 20px;
}
.block-5 {
    width: 100%;
	height: 700px;
    padding: 50px 0;
    color: #000;
    background:  url(../img/BLOCKFIVE.jpg) no-repeat bottom center scroll;
    background-color: #fff;
	background-position: 0px 0px,
                         center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	vertical-align: middle;
}

#contacts {
	
	margin-top: 100px;
	display: inline-block;
	background-color: #FFF;
	opacity: 0.6;
	width: 500px;
	height: 265px;
}

.block-5 .container {
 vertical-align:bottom;
 margin: 100px;
 height: 700px;
 
 }
}

@media(max-width:500px) {
	#logotop img{
	width: 35em;
	margin-top: 10px;
	margin-bottom: 20px;
	}
	
	
	.block-4 img {
		width: 12em;
	}
	
	.block-4 .btn-circle {
		margin-left: 0;
	}
	
	
    .block-5 img {
		width: 3em;
	}
	
	.block-5 .btn-circle {
		margin-left: 0;
	}
	.btn-circle  {
	
	margin-left: 39%;
	}

	.myButton {
	margin-left: 14%
	}
	}	
	


.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.left{
   position: relative;
   float: left;
   left: 0.50%;
   width: 33.00%; 
	
}
.middle{
   position: relative;
   float: left;
   left: 1.50%;
   width: 33.00%; 
}
.right{
   position: relative;
   float: right;
   right: 0.50%;
   width: 31.00%;
}

.header{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #fff;
}
.wrapper{
   position: relative;
   height: 550px;
   background-color: #fff;
   display: inline-block;
}

#ldn {
	width: 100%;
	height:125px;
	background: url(http://www.socialconcierge.co.uk/wp-content/themes/afternight-child/images/bg-footer.png)
}
.wrapper1{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   height: 330px;
   background-color: #2f2f2f;
   color: #FFF;  
}

.wrapper1 a  {
	color: #A9BCF5;
}

.left1{
   position: relative;
   
   left: 0.50%;
   width: 100%;
   
}
.left2{
   position: relative;
   float: left;
   left: 1.50%;
   width: 33.00%;
   
}
.right1{
   position: relative;
   float: right;
   right: 0.50%;
   width: 31.00%;
   
}

.left1 img{
	height: 29px;
}
.footer{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #fff;
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #fff;
}

